{% extends "base.html" %}

{% block content %}
    <ul>
        <li>
            <a href="#" id="manage_users" class="clickable_text"
                  onclick="loadModelGrid('demo', 'demouser');">
                  Manage Users
            </a>
        </li>
        <li>
            <a href="#" d="manage_info" class="clickable_text"
                  onclick="loadModelGrid('demo', 'demoinfo');">
                  Manage Demo Info
            </a>
        </li>
        <li>
            <a href="#" d="manage_info" class="clickable_text"
                  onclick="loadModelGrid('demo', 'demoinfotwo');">
                  Manage Demo Info Two
            </a>
        </li>
        <li>
            <a href="#" d="manage_info" class="clickable_text"
                  onclick="loadModelGrid('demo', 'demoinfothree');">
                  Manage Demo Info Three
            </a>
        </li>
    </ul>
    <div id="chuchoGridContainer"></div>

{% endblock %}
